<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <title>NexaSphere Tech</title>
<!--

ART FACTORY

https://templatemo.com/tm-537-art-factory

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="static/assets/css/templatemo-art-factory.css">
    <link rel="stylesheet" type="text/css" href="static/assets/css/owl-carousel.css">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo"></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#welcome" class="active">На головну</a></li>
                            <li class="scroll-to-section"><a href="#about">Про нас</a></li>
                            <li class="scroll-to-section"><a href="#services">Ваканції</a></li>
                            <li class="scroll-to-section"><a href="#frequently-question">Контакти</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Меню</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                        <h1>NexaSphere Tech<strong>шукає нових робітників в свою команду</strong></h1>
                        <p>Зроби заявку в телеграм-боті і чекай відповіді</p>
                        <a href="https://t.me/projectforwork2bot" class="main-button-slider">Залишити заявку</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                        <img src="static/assets/images/title_icon.png" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->


    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="static/assets/images/left.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="right-text col-lg-5 col-md-12 col-sm-12 mobile-top-fix">
                    <div class="left-heading">
                        <h5>Звітність та Інновації: Наші рішення для Вашого ІТ-Бізнесу</h5>
                    </div>
                    <div class="left-text">
                        <p>Ласкаво просимо до нашої ІТ компанії, де ми спеціалізуємося на наданні передових технологічних рішень для вашого бізнесу. Наша команда професіоналів об'єднує в собі глибокі знання та багаторічний досвід у сфері розробки програмного забезпечення, веб-дизайну, інтеграції систем та безпеки даних.</p> <p>Наш підхід:
Ми розуміємо, що кожен бізнес унікальний, тому наші рішення завжди налаштовані під ваші потреби. Завдяки глибокому аналізу вашої компанії та галузі, ми розробляємо індивідуальні стратегії, спрямовані на досягнення ваших цілей.</p> <p>Наші послуги:

Розробка програмного забезпечення: Ми створюємо високоякісні програми з урахуванням сучасних технологічних та бізнес-стандартів. Від веб-додатків до мобільних додатків, ми допомагаємо вам створити продукт, який задовольнить вашу аудиторію.

Веб-дизайн та розробка: Наші дизайнери та розробники працюють разом, щоб створити захоплюючі та функціональні веб-сайти. Ми розуміємо важливість першого враження, тому кожен детально продуманий елемент додає до користувацького досвіду.

Інтеграція систем: Забезпечте ефективну роботу вашого бізнесу завдяки нашим рішенням з інтеграції систем. Ми допомагаємо об'єднати різні компоненти вашої інфраструктури в єдину діючу систему.

Безпека даних: Захист ваших даних - наш пріоритет. Ми розробляємо та впроваджуємо стратегії кібербезпеки, щоб забезпечити найвищий рівень захисту для вашої компанії та ваших клієнтів.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->


    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about2">
        <div class="container">
            <div class="row">
                <div class="left-text col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix">
                    <div class="left-heading">
                        <h5>Чому варто обрати нас?</h5>
                    </div>
                    <ul>
                        <li>
                            <img src="static/assets/images/about-icon-01.png" alt="">
                            <div class="text">
                                <h6>Справжні виклики</h6>
                                <p>У нас кожен день – це можливість вдосконалити свої навички та розвиватися у захоплюючому середовищі. Ми створюємо продукти, які змінюють грудень, тож у нас ви точно не будете нудьгувати.</p>
                            </div>
                        </li>
                        <li>
                            <img src="static/assets/images/about-icon-0.png" alt="">
                            <div class="text">
                                <h6>Команда професіоналів</h6>
                                <p>Приєднавшись до нас, ви станете частиною сплоченого колективу, де кожна думка важлива. Ми віримо в силу співпраці та підтримки один одного.</p>
                            </div>
                        </li>
                        <li>
                            <img src="static/assets/images/about-icon-03.png" alt="">
                            <div class="text">  
                                <h6>Інноваційний підхід</h6>
                                <p>У нас ви зможете реалізувати свої найсміливіші ідеї та долучитися до розробки продуктів, що змінюють стандарти галузі.<a rel="nofollow" href="https://t.me/projectforwork2bot">телеграм-бот</a> залишити заявку</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="right-image col-lg-7 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <img src="static/assets/images/right-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->


    <!-- ***** Features Small Start ***** -->
    <section class="section" id="services">
        <div class="container">
            <div class="row">
                <div class="owl-carousel owl-theme">
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="static/assets/images/insurance.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Сеніор розробник програмного забезпечення</h5>
                        <p>Вимоги: досвід роботи з мовами python, java, Rust; знання фреймворка Flask. Ми пропонуємо: конкурентоспроможна зарплата, можливість професійного зростання, цікаві проекти</p>
                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="static/assets/images/marketing1.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Маркетинговий менеджер</h5>
                        <p>Вимоги: досвід у веденні рекламних кампаній, знання інструментів; аналітичні навички. Ми пропонуємо: дружній колектив, можливість реалізувати творчі підходи, гнучкий графік</p>
                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="static/assets/images/service-icon-03.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Технічний підтримка</h5>
                        <p>Вимоги: відмінні комунікаційні навички, технічне освіта; бажання допомагати клієнтам. Ми пропонуємо: навчання, можливість розвитку у IT-сфері, цікаві завдання</p>
                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="static/assets/images/front-end.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Frontend розробник</h5>
                        <p>Вимоги:

Досвід роботи з HTML, CSS та JavaScript.
Знання фреймворків, таких як React, Angular або Vue.
Розуміння принципів респонсивного дизайну.
Здатність до роботи в команді та розуміння систем контролю версій.</p>
                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="static/assets/images/beckend1.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Backend розробник (мова: Python)</h5>
                        <p>Вимоги:

Досвід роботи з мовою програмування Python.
Знання фреймворків, таких як Django або Flask.
Розуміння реляційних та нереляційних баз даних.
Вміння писати чистий та ефективний код.</p>
                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="static/assets/images/devops.png" alt=""></i>
                        </div>
                        <h5 class="service-title">DevOps інженер</h5>
                        <p>Вимоги:

Досвід у налаштуванні та управлінні системами автоматизації (наприклад, Ansible, Terraform).
Розуміння принципів контейнеризації за допомогою Docker.
Знання систем контролю версій, таких як Git.
Основи моніторингу та логування.</p>
                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="static/assets/images/service-icon-01.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Data Scientist</h5>
                        <p>Вимоги:

Високий рівень володіння мовою програмування Python.
Досвід роботи з бібліотеками для аналізу даних, такими як pandas, NumPy, SciPy.
Знання машинного навчання та статистичного аналізу.
Розуміння основних інструментів візуалізації даних.</p>
                    </div>
                     <div class="item service-item">
                        <div class="icon">
                            <i><img src="static/assets/images/sys-admin.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Системний адміністратор</h5>
                        <p>Вимоги:

Досвід роботи з операційними системами Linux/Unix/Windows.
Знання командної оболонки та базових сценаріїв.
Розуміння мережевих протоколів та основ мережевої безпеки.
Вміння налаштовувати та адмініструвати веб-сервери (наприклад, Apache, Nginx).Основи віртуалізації та контейнеризації (наприклад, Docker).
Навички роботи з системами моніторингу (наприклад, Nagios, Zabbix).</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Small End ***** -->


    <!-- ***** Frequently Question Start ***** -->
    <section class="section" id="frequently-question">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Ми намагаємося зробити пошук вашої роботи легше</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="section-heading">
                        <p>Тому якщо виникнуть якісь питання, задавайте їх нам на електрону адресу фірми- nexasphere_tech@company.com</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <div class="left-text col-lg-6 col-md-6 col-sm-12">
                    <h5>Телеграм-бот для заповнення анкети</h5>
                    <div class="accordion-text">
                        <a href="https://t.me/projectforwork2bot" class="main-button">Заповнити анкету</a>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Frequently Question End ***** -->


    <!-- ***** Contact Us Start ***** -->



                <!-- ***** Contact Form End ***** -->

    <!-- ***** Contact Us End ***** -->

    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <p class="copyright">NexaSphre Thech &copy; 2023 It company Company
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12">
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery -->
    <script src="static/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="static/assets/js/popper.js"></script>
    <script src="static/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="static/assets/js/owl-carousel.js"></script>
    <script src="static/assets/js/scrollreveal.min.js"></script>
    <script src="static/assets/js/waypoints.min.js"></script>
    <script src="static/assets/js/jquery.counterup.min.js"></script>
    <script src="static/assets/js/imgfix.min.js"></script>
    
    <!-- Global Init -->
    <script src="static/assets/js/custom.js"></script>

  </body>
</html>